button:hover{
    cursor: pointer;
}

h1{
    color: blue;
}

.modo_sexo{
    height: 2000px;
    position: absolute;
    display: none;
    width: 100%;
    background-color: rgb(255, 0, 0);
    z-index: 2000px;
}

#btn_si{
    background-color: rgb(146, 146, 16);
    border-color: rgb(255, 0, 0);
    color: blueviolet;
    font-size: x-large;
    padding: 32px;
    text-align: center;
    border-radius: 2px;
}